.item img {
    margin: 120px 0 20px 0;
}

.item-title {
    font-size: 1.7rem;
}

.item p {
    margin: 20px 0;
    line-height: 1.5rem;
}

.item {
    text-align: left;
}

.item a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #A6A284;
    border-radius: 2px;
}